*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
#main{
    display: flex;
    width: 100%;
    height: 670px;
    font-family: 'Inter', sans-serif;
}
/* 1st block */
#main .logoInst{
    width: 75px;
    height: 75px;
    margin-left: 82px;
    margin-top: 45px;
}
.block1 {
    margin-top: 70px;
    width: 45%;
    margin-right: 9%;
}
.block1 .sp_1{
    background-image: linear-gradient(to right, #ff5c00, #ff0069, #d300c5);
    background-clip: text;
    color: transparent;
}
#main .block1 img{
    width: 80%;
    height: auto;
    align-items: center;
    margin: 0;
    padding-left: 10%;
}
.block1 p{
    font-size: 40px; 
    text-align: center;
}

/* 2nd block */
.block2{
    padding-left: 35px;
    padding-top: 160px;
    width: 30%;
}
.block2 .missing_passw{
    display: block;
    color: black;
    margin-top: 20px;
    font-size: 12px;
}
.block2 h4{
    text-align: left;
    padding-left: 8px;
    margin-bottom: 17px;
    font-size: 16px;
}
#main .block2 .inputs{
    text-align: center;
    width: 100%;
    font-size: 10px;
}
.block2 .inputs input{
    padding: 13px;
    width:90%;
    margin-bottom: 10px;
    border:#afb2b6 1px solid;
    border-radius: 10px;

}
.block2 .inputs input::placeholder{
    color: #505050 !important; 
    font-weight: bold !important;
    opacity: 50% !important;
}
.block2 .inputs button{
    width: 95%;
    padding: 7px;
    border-radius: 25px;
    background-color: white;
}
.block2 .by_fcb{
    margin-top: 50px;
    border: #afb2b6 2px solid;
    justify-content: center;
}
.block2 .logoMeta{
    width: 100px;
    margin-left: 39%; /*to make it in the center */

}
.block2 .inputs .new_acc{
    color: #63ABEF;
    border: #63ABEF 2px solid;
    margin-top: 10px;
}